@{
    ViewBag.Title = "Banco Itaú";
}

<div class="jumbotron">
    <h1>Banco Itaú</h1>
    @*<p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Área do Usuário</h2>
        <p>
            Opção usada para acesso a área de gestão do sistema, para cada cadastro de usuários, clientes, contas, etc.
        </p>
        <p><a class="btn btn-default" href ="/Usuario/LogarUsuario/">Área do Usuário &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Área do Cliente</h2>
        <p>Opção de acesso ao sistema pelo cliente para realizações de transações de saque, depósito, extrato.</p>
        <p><a class="btn btn-default" href ="/Contas/LogarContaCliente/">Área do Cliente &raquo;</a></p>
    </div>
   

</div>